# Average Marks

A
3 4 6
Sample Output 1 :
A
4

Sample Input 2 :
T
7 3 8
Sample Output 2 :
T
6

In [2]:
name=input()
n=input()
n=n.split(" ")
j=0
for i in n:
    j+=int(i)
print(name)
print(j//len(n))

T
7 3 8
T
6

# Find Character Case

Sample Input 1 :
v
Sample Output 1 :
0

Sample Input 2 :
V
Sample Output 2 :
1
Sample Input 3 :
#
Sample Output 3 :
-1

In [3]:
n=input()
if(ord(n)>=65 and ord(n)<=90):
    print("1")
elif(ord(n)>=97 and ord(n)<=122):
    print("0")
else:
    print("-1")

#
-1

# Sum of Even Numbers till N

Sample Input 1 :
 6
Sample Output 1 :
12

In [4]:
n=int(input())
sm=0
for i in range(1,n+1,1):
    if(i%2==0):
        sm+=i
print(sm)

6
12

# Fahrenheit to Celsius

Sample Input 1:
0 
100 
20
Sample Output 1:
0   -17
20  -6
40  4
60  15
80  26
100 37



Sample Input 2:
20
119
13
Sample Output 2:
20  -6
33  0 
46  7
59  15
72  22
85  29
98  36
111 43

In [5]:
import math as m
start=int(input())
last=int(input())
interval=int(input())
for i in range(start,last,interval):
    print(i," ",int((i-32) * 5/9))

20
119
13
20   -6
33   0
46   7
59   15
72   22
85   29
98   36
111   43

# Number Pattern

Pattern for N = 4
1
23
345
4567

Sample Input 1 :
3
Sample Output 1 :
1
23
345

In [6]:
n = int(input())
for i in range(1,n+1,1):
    k=i
    for j in range(0,i,1):
        print(k,end="")
        k+=1
    print()

4
1
23
345
4567

# Number Pattern

Pattern for N = 4
       1
     23
   345
 4567
    
    
Sample Input :
5
Sample Output :
          1
        23
      345
    4567
  56789

In [7]:
n=int(input())
space = (1+(n-1)*2)-1
for i in range(1,n+1,1):
    for j in range(0,space,1):
        print(" ",end="")
    space-=2
    t=i
    for k in range(0,i):
        print(t,end="")
        t+=1
    print()

4
      1
    23
  345
4567

# Star Pattern

Sample Input 1 :
3
Sample Output 1 :
   *
  *** 
 *****
 
 Sample Input 2 :
4
Sample Output 2 :
    *
   *** 
  *****
 *******

In [8]:
n=int(input())
space =(n-1)
for i in range(1,n+1,1):
    for k in range(0,space,1):
        print(" ",end="")
    space-=1
    p=1+(i-1)*2
    for j in range(0,p,1):
        print("*",end="")
    print()

3
  *
 ***
*****